@media only screen and (min-width:0px) and (max-width: 480px) {
    .footer-widtd{
        width: 32% !important;
    }
    .footer-widtd1{
        width: 68% !important;
    }
    .footer-text{
        font-size: smaller;
        margin-left: 10px !important;
    }
    .m-b-30{
        margin-bottom: 60px !important;
    }
    .width-dbd{
        width: 50px !important;
    }
  }

.copyright{
    background-color: #429bd5 !important;
    padding: 25px 0px 0px 0px;
}

.copyright-text{
    color: #fff;
}

.contact{
    float: left;
}

.footer-title{
    color: #fff;
    font-size: 15pt;
    margin-bottom: 15px;
}

.footer-h4{
    color: #fff;
}

.footer-li{
    font-size: 13px;
}

.footer-content{
    padding-bottom: 10px;
}

.footer-follow{
    height: 35px;
}
.footer-text{
    margin-left: 40px;
}
.width-dbd{
    width: 70px;
}
.m-b-30{
    margin-bottom: 30px;
}
