<header class="app2 nav-abs custom-scroll">
  <div class="container">
      <div class="row">
          <div class="col">
            <nav>
              <app-vac-menu class="left02" style="margin-left: 14px;"></app-vac-menu>
              <a href="" class="d-inline-block m-r-auto logo">
                  <img src="./assets/images/logo/logo.jpeg" alt="" class="brand-logo img-logo">
              </a>
            <app-vac-menu class="left01"></app-vac-menu>
          </nav>
          </div>
      </div>
  </div>
</header>